:root{
    --Dark-grayish-magenta: hsl(303, 10%, 53%);
    --Soft-pink:hsl(333, 80%, 67%);
    --Very-dark-magenta: hsl(300, 43%, 22%);
    --Light-grayish-magenta: hsl(300, 24%, 96%);
    --White:hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    font-size: 15px;
    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
      background-position: center -750px, center 500px;
      background-repeat: no-repeat, no-repeat;
      background-size: cover, cover; 
      font-family: 'League Spartan', sans-serif; 
}
main{ 
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-left{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left .content{ 
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px; 
    align-items: flex-start;
}
.top-left .content h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--Very-dark-magenta);
    padding: 10% 15% 0% 0%;
}
.top-left .content p{
    width: 85%;
    padding:0% 10% 10% 0%;
    font-size: 18px;
    line-height: 20px;
    word-spacing: 6px;
    font-weight: 400;
}
.top-left .rating-sec{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.rating-sec .rating-com{
    display: flex;
    gap: 30px;
    font-weight: 700;
    color: var(--Very-dark-magenta);
    padding: 20px 40px;
    background-color: #F7F2F8;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 1px 5px 5px;
}
.r1{
    align-self: flex-start;
}
.r2{
    align-self: center;
} 
.r3{
    align-self: flex-end;
}
.top-right{ 
    display: flex;
    padding: 0%; 
    align-items: center;
    justify-content: space-between;
    height: 280px;
}
.top-right .card{
    background-color: var(--Very-dark-magenta);
    padding: 40px 40px;
    color: var(--White);
    display: flex;
    flex-wrap: wrap;
    gap: 20px ;
    border-radius: 10px;
    width: 30%;
}
.card .title-sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card .title-sec img{
     border-radius: 50px;
     width: 30%;
}
.card .title-sec .name-tag{
    display: flex;
    flex-direction: column; 
}

.card .title-sec .name-tag .name{
    font-weight: 700;
    letter-spacing: 1px;
}

.card .title-sec .name-tag .sub-text{
    color: var(--Soft-pink);
    font-weight: 400;
}
.card p{ 
    line-height: 20px;
    word-spacing: 2px;
    font-weight: 400;
}
.card-1{
    align-self: flex-start;
}
.card-2{
    align-self: center;
}
.card-3{
    align-self: flex-end;
}

@media (min-width:100px) and (max-width:875px) {
    body{
        width: 100vw; 
        background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
    }
    main{ 
        width: 100%; 
        text-align: center;
    }
    .top-left{
        flex-direction: column;
        padding: 0; 
    }
    .top-left .content{
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .top-left .content h1{
        padding: 0;
        padding-top: 30px;
        font-size: 40px;
    }
    .top-left .rating-sec{
        width: 95%;
        margin-bottom: 20px;
    }
    .top-left .rating-sec .rating-com{
        flex-direction: column;
        width: 90%;
        gap: 10px;
    }

    .r1{
        align-self: center;
    }
    .r2{
        align-self: center;
    } 
    .r3{
        align-self: center;
    } 

    .top-right{
        height: 100vh;
        flex-direction: column;
        gap: 30px;
    }
    .top-right .card{
        flex-direction: column;
        width: 90%;
    }
    .card-1{
        align-self: center;
    }
    .card-2{
        align-self: center;
    }
    .card-3{
        align-self: center;
    }
    .card .title-sec{
        flex-direction: column;
        gap: 10px;
    }
    .top-right .card {
        padding: 40px 20px;
    } 
    .top-right .card p{
        line-height: 18px;
    }
    
}
@media (min-width:850px) and (max-width:1200px) {
    main{
        width: 98%
    }
    .top-right {
        width: 90%;
    }
    .card-1{
        align-self: center;
    }
    .card-2{
        align-self: center;
    }
    .card-3{
        align-self: center;
    }
    .top-left .content h1{
        padding: 0;
        padding-top: 30px;
        font-size: 40px;
    }
}
@media (min-width:400px) and (max-width:890px) {
    .card .title-sec img{
        border-radius: 50px;
        width: 10%;
   }

}